name: Release and Docker Build

on:
  push:
    tags: # Starts when a tag version is created
      - 'v*.*.*'
      - '*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build the docker image and push it to docker hub
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t iris-front:latest .
          docker tag iris-front:latest roadtripmoustache/iris-front:latest

      - name: Tag and push versioned image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          docker tag iris-front:latest roadtripmoustache/iris-front:$VERSION
          docker push roadtripmoustache/iris-front:latest
          docker push roadtripmoustache/iris-front:$VERSION
